.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
  .intro {
    max-width: 90.625%;
  }
}
  
@media screen and (max-width: 768px) and (min-width: 319px) {
  .intro {
    max-width: 93.75%;
    padding-bottom: 88px;
  }
}
  
@media screen and (max-width: 320px) {
  .intro {
    max-width: 90%;
    padding-bottom: 64px;
  }
}