.place__website {
  margin: 0;
  align-self: flex-end;
}

@media screen and (max-width: 599px) {
  .place__website {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    padding-right: 16px;
    padding-left: 16px;
  }
}